<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokersite</title>
    <link rel = "stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    
</head>
<body>
    <h1> Create account page </h1>
    <p> Here is where you will create your poker account </p>
    <form action = "http://localhost:5000/create_account" method="post"> 
        <p> Username: <input type = "text" name = "name" /></p>
        <p> Password: <input type = "text" name = "password" /></p>
        <p> Email: <input type = "text" name = "email" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>

</body>
</html>