{% extends 'base.html' %} 
{% block content %}
<div class="roomsite">
  <div class="message-box">
  <h2>Room: {{code}}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
    <button type="button"  name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
      <p> Bet: <input type = "text" name = "bet" id="bet" /></p>
      <button type="button" name="betbutton" id="check-button" onClick="bet()">Bet </button>
      <button type="button" name="check" id="check-button" onClick="check()">Check </button>
      <button type="button" name="fold" id="fold-button" onClick="fold()">Fold </button>
  </div>
</div>

<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };


  const check = () => {
    socketio.emit("check");
  };

  socketio.on("updateCurrPlayer", (data) => {
    console.log(data.data)
    console.log('updateCurrplayer')
    updateCurrPlayer(data.data)

    //getfolded makes no changes to data.data before and after it is ran
    console.log('Before getfolded is ran', data.data)
    //getfolded(data.data)    
  });

  const updateCurrPlayer = (currPlayer) => {
    socketio.emit("updateCurrPlayer", currPlayer)
  };
  
  //This does not emit to all players
  const getfolded = (currplayer) => {
    console.log('inside getfolded const')
    socketio.emit("getfolded", currplayer)
  }

  const bet = () => {
    const bet = document.getElementById("bet")
    if (bet.value == "") return;
    socketio.emit("bet", bet.value)
  };

  socketio.on("updateBet", (data) => {
    console.log(data.data)
    console.log(data.pos)
    console.log('updateBet')
    updateBet(data.pos, data.data)
  });

  const updateBet = (currPlayer, betAmount) => {
    socketio.emit("updateCurrPlayer", currPlayer, betAmount)
  };


  const fold = () => {
    socketio.emit("fold")
  };

  socketio.on("updateFold", (data) => {
    console.log("folded")
    console.log(data.data)
    console.log(data.pos)
    console.log(data.roundBet)
    updateFold(data.pos, data.roundBet, data.data)
  });

  const updateFold = (currPlayer, roundBet, folded) => {
    //socketio.emit("updateCurrPlayer", currPlayer, roundBet, folded)
    socketio.emit("updateCurrPlayer", currPlayer)
  };

</script>
</div>


{% endblock %}