{% extends 'base.html' %} 
{% block content %}
<div class="roomsite">
  <div class="message-box">
  <h2>Room: {{code}}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
    <button type="button"  name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
      <p> Bet: <input type = "text" name = "bet" /></p>
      <button type="button" name="check" id="check-button" onClick="check()">Check </button>
  </div>
</div>

<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };

  const check = () => {
    socketio.emit("check");
  };

  socketio.on("updateCurrPlayer", (data) => {
    console.log(data.data)
    console.log('updateCurrplayer')
    updateCurrPlayer(data.data)
  });

  const updateCurrPlayer = (currPlayer) => {
    socketio.emit("updateCurrPlayer", { data : currPlayer })
  };
  
</script>
</div>


{% endblock %}